################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TetrisOOP/FileContentIndex
*.vsidx
*.vsidx
*.lock
Tetrix_OOP/.vs/Tetrix_OOP/v17/.suo
Tetrix_OOP/.vs/Tetrix_OOP/v17/Browse.VC.opendb
Tetrix_OOP/.vs/Tetrix_OOP/FileContentIndex/2041bab2-147d-45e6-b433-063887e5f888.vsidx
Tetrix_OOP/.vs/Tetrix_OOP/FileContentIndex/read.lock
Tetrix_OOP/.vs/Tetrix_OOP/v17/.suo
